<div class="content">
  <div class="hed_sty1">
    {{headingname}}
    <div class="spacer"></div>
    <a (click)="navigateBack()" class="btn btn_sty1"><span class="material-icons">west</span>Back</a>
  </div>
  <mat-stepper [linear]="isLinear" #stepper>
    <mat-step label="">
      <br />
      <form [formGroup]="hudform" class="row">
        <div class="col-sm-4">
          <mat-form-field appearance="outline" class="border-red" style="width:100%">
            <mat-label>District</mat-label>
            <mat-select formControlName="district" (change)="selectchange('district')" required>
              <mat-option *ngFor="let item of districts" [value]="item.district_id">
                {{item.district_name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-4">
          <mat-form-field appearance="outline" class="border-red" style="width:100%">
            <mat-label>Taluk</mat-label>
            <mat-select formControlName="taluk" required>
              <mat-option *ngFor="let item of taluks" [value]="item.taluk_id">
                {{item.taluk_name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-6">
          <mat-form-field appearance="outline" class="border-red" style="width:100%">
            <mat-label>Revenue Village Name</mat-label>
            <input matInput formControlName="village_name" placeholder="Taluk Name" required>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field appearance="outline" class="border-red" style="width:100%">
            <mat-label>Revenue Village Local Name</mat-label>
            <input matInput formControlName="village_local_name" placeholder="Revenue Village Local Name">
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field appearance="outline" class="border-red" style="width:100%">
            <mat-label>Firka Name</mat-label>
            <input matInput formControlName="firka_name" placeholder="Firka Name">
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field appearance="outline" class="border-red" style="width:100%">
            <mat-label>Firka Id</mat-label>
            <input matInput formControlName="firka_id" placeholder="LGD Code">
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field appearance="outline" class="border-red" style="width:100%">
            <mat-label>Is Active</mat-label>
            <mat-select formControlName="village_active" required>
              <mat-option value="1">Yes</mat-option>
              <mat-option value="0">No</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </form>
      <div class="d-flex justify-content-center">
        <button mat-raised-button matStepperNext (click)="savehud()" color='primary'>Submit</button>
      </div>
    </mat-step>
  </mat-stepper>
</div>
